body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-image: url('img/bg/bg/bg4.png');
    background-position: center;
    background-size: cover;
}

canvas {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}